<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="top.enderliquid.audioflow.mapper.SongMapper">
    <select id="selectPageByUploaderInfoOrSongInfo" resultType="top.enderliquid.audioflow.dto.bo.SongBO">
        SELECT
        s.*,
        u.name AS uploaderName
        FROM song s
        LEFT JOIN user u ON s.uploader_id = u.id
        <where>
            <!-- 1. 筛选上传者 (ID精确匹配 OR 名字模糊匹配) -->
            <if test="uploaderKeyword != null or uploaderId != null">
                AND (
                <trim prefixOverrides="OR">
                    <if test="uploaderKeyword != null">
                        OR u.name LIKE CONCAT('%', #{uploaderKeyword}, '%')
                    </if>
                    <if test="uploaderId != null">
                        OR u.id = #{uploaderId}
                    </if>
                </trim>
                )
            </if>

            <!-- 2. 筛选歌曲 (ID精确匹配 OR 歌名模糊匹配) -->
            <if test="songKeyword != null or songId != null">
                AND (
                <trim prefixOverrides="OR">
                    <if test="songKeyword != null">
                        OR s.name LIKE CONCAT('%', #{songKeyword}, '%')
                    </if>
                    <if test="songId != null">
                        OR s.id = #{songId}
                    </if>
                </trim>
                )
            </if>
        </where>

        <!-- 3. 排序逻辑 -->
        ORDER BY s.create_time
        <choose>
            <when test="isAsc">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>
</mapper>
