<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.enderliquid.audioflow.mapper.SongMapper">
    <select id="selectPageByUploaderInfoOrSongInfo" resultType="top.enderliquid.audioflow.dto.bo.SongBO">
        SELECT
        s.*,
        u.name AS uploaderName
        FROM song s
        LEFT JOIN user u ON s.uploader_id = u.id
        <where>
            <!-- 1. 筛选上传者 (名字模糊匹配 OR ID精确匹配) -->
            <if test="param.uploaderKeyword != null or param.uploaderId != null">
                AND (
                u.name LIKE CONCAT('%', #{param.uploaderKeyword}, '%')
                    <if test="param.uploaderId != null">
                        OR u.id = #{param.uploaderId}
                    </if>
                )
            </if>

            <!-- 2. 筛选歌曲 (歌名模糊匹配 OR ID精确匹配) -->
            <if test="param.songKeyword != null or param.songId != null">
                AND (
                s.name LIKE CONCAT('%', #{param.songKeyword}, '%')
                    <if test="param.songId != null">
                        OR s.id = #{param.songId}
                    </if>
                )
            </if>

            <!-- 3.筛选状态 -->
            AND s.status = "NORMAL"

        </where>

        <!-- 3. 排序逻辑 -->
        ORDER BY s.create_time
        <choose>
            <when test="param.asc">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>
</mapper>
